/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #3C0D64;
  Secondary: #441F8A;
  Active: #4C30B0;
  Text: #BCDDE5;
  Text-active: #F1F7F9;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #3C0D64; /* background of whole nav  */
}

.other-nav {
	background: #441F8A; /* background of other-nav  */
}

nav a {
	color: #BCDDE5; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #BCDDE5;
}

a.activelink {
    background: #4C30B0;
    color: #F1F7F9;
    border-bottom: 3px solid #F1F7F9;
    padding-bottom: 7px;
} /* indicates which page the user is on by style changes */

.post_head,
.form_head {
    background: #3C0D64;
    color: #BCDDE5;
}

/* ================================= 
  Content Style
==================================== */

main {
    padding: 0 10px;
}

button {
    margin-top: 20px;
    padding: 20px;
    background: #3C0D64;
    color: #BCDDE5;
    border: 3px solid #BCDDE5;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
}

.buttons {
    margin-bottom: 15px;
}

.post_submit {
    margin-top: 0px;
}

button:hover { 
    background: #441F8A;
    color: #F1F7F9;
    border-color: #F1F7F9;
}


.post_full {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    margin: 20px auto;
    border-radius: .2em;
    width: 100%;
}

.post_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .2em .2em 0 0;
    padding: 0 20px;
}

.post_content {
    padding: 0 20px;
}

.form_full {
    display: none;
    flex-direction: column;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    margin: 20px 0;
    border-radius: .2em;
}

.form_head {
    display: flex;
    flex-direction: column;
    border-radius: .2em .2em 0 0;
    padding: 15px 20px;
}

.post_content {
    padding: 15px 20px;
}

.form_item {
    display: flex;
    flex-direction: column;
}

.form_item:last-child {
    padding-top: 15px;
}

#post_content {
    width: 100%;
    height: 100%;
}

#post_author,
#posttitle {
    color: black;
    
}

textarea {
    margin: 10px 0;
    height: 1000px;
}

.post_title {
    max-width: 67%;
    word-wrap: break-word;
}

.post_details {
    max-width: 33%;
}

.post_content,
.post_title,
.post_author {
    word-wrap: break-word;
}

.buttons {
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) {
    .other-nav {
        background: #3C0D64;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    button {
        width: 50%;
    }

    button:first-child {
        margin-right: 20px;
    }
    .buttons {
        flex-direction: row;
    }

    main {
        padding: 0 20px;
    }

}

@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */

    .other-nav a:hover,
    a.activelink {
        background: #441F8A; /* Used "Secondary" on color palette.  */
        color: #F1F7F9;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #F1F7F9;
        padding-left: 5px;
    }

    .form_head {
        flex-direction: row;
        justify-content: space-between;
    }

    .form_item {
        flex-direction: row;
        align-items: center;
    }

    .form_item:last-child {
        padding-top: 0;
    }

    button {
        width: 25%;
        margin-right: 10px;
        margin-top: 15px;
    }
}