/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #3C0D64;
  Secondary: #441F8A;
  Active: #4C30B0;
  Text: #BCDDE5;
  Text-active: #F1F7F9;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #3C0D64; /* background of whole nav  */
}

.other-nav {
	background: #441F8A; /* background of other-nav  */
}

nav a {
	color: #BCDDE5; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #BCDDE5;
}

a.activelink {
    background: #4C30B0;
    color: #F1F7F9;
    border-bottom: 3px solid #F1F7F9;
    padding-bottom: 7px;
}

.post_head {
    background: #3C0D64;
    color: #BCDDE5;
}

/* ================================= 
  Content Style
==================================== */

button {
    margin-top: 20px;
    padding: 15px;
    background: #3C0D64;
    color: #BCDDE5;
    border: 3px solid #BCDDE5;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
}

button:hover { 
    background: #441F8A;
    color: #F1F7F9;
    border-color: #F1F7F9;
}


.post_full {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    margin: 20px auto;
    border-radius: .2em;
}

.post_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .2em .2em 0 0;
    padding: 0 20px;
}

.post_content {
    padding: 0 20px;
}


@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */
.other-nav {
    background: #3C0D64;
    z-index: 10;
}  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

.other-nav a:hover,
a.activelink {
    background: #441F8A; /* Used "Secondary" on color palette.  */
    color: #F1F7F9;
} /* changes what all links do on hover  */

a.activelink {
    border: none;
    padding-bottom: 25px;
    border-left: 5px solid #F1F7F9;
    padding-left: 5px;
}

    .projects {
        display: inline-block;
        padding-bottom: 0;
    }
    
    .box {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .goto,
    .gh { 
        margin: 1em;
        display: inline-block;
    }

}