/* ================================= 
  Page Color Styles
==================================== */

body {
	font-family: 'Varela Round', sans-serif;
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #69336e /* background of whole nav  */
}

.other-nav {
	background: #69336e; /* background of other-nav  */
}

.main-nav a {
	color: #06070c; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.other-nav a:hover {
	background: #6c4f6e;
	color: white;
} /* changes what all links do on hover  */

.copy {
    color: white;
}

.activelink {
    background: #6c4f6e;
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

.projects {
    background: #fff;
    border-radius: .2em;
    border: solid 1px rgba(88, 183, 205, .2);
    border-bottom: solid 2px rgba(88, 183, 205, .2);
    clear: both;
    padding-bottom: 38px;
    margin: 5px 4px;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
}

.entry {
    text-align: center;
}

.goto,
.gh {
    font-size: .78em;
    border-radius: .3em;
    padding: .4em 1.8em;
    color: white;
    margin: 0 15px;
}

.goto {
    background-color: #102999;
    float: left;
    margin-right: .4em;
}

.gh {
    background-color: rgba(211, 146, 27, .5);
    float: right;
    margin-left: .4em;

}


@media (min-width: 769px) { 

/* ================================= 
Style changes in media queries
==================================== */
    .other-nav {
        background: #69336e;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    a.activelink {
        color: white;
        border-left: 5px solid white;
        padding-left: 5px;
    }

    .projects {
        display: inline-block;
        padding-bottom: 0;
    }
    
    .box {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .goto,
    .gh { 
        margin: 1em;
        display: inline-block;
    }

}