/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #45050C;
  Secondary: #720E07;
  Active: #7F3814;
  Text: #D5AC4E;
  Text-active: #EECF6D;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #45050C; /* background of whole nav  */
}

.other-nav {
	background: #720E07; /* background of other-nav  */
}

nav a {
	color: #D5AC4E; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #D5AC4E;
}

a.activelink {
    background: #7F3814;
    color: #EECF6D;
    border-bottom: 3px solid #EECF6D;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

.contact {
    background: #45050C; 
    color: #D5AC4E;
    cursor: pointer;
    text-align: center;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    padding: 20px;
    margin: 0 0 20px 0;
}

.contact p {
    display: none;
}

.contact h2 {
    margin-bottom: 0;
}

main {
    padding: 20px 20px;
}

.sprite {
    background: url(../imgs/socialspritesheet.png) no-repeat;
    width: 180px; /* width of container */
    height: 180px; /* height of container */
}

.linkedin > .sprite {
    background-position: -410px -90px;
    border-radius: .2em;
    margin: 0 auto;
}


@media (min-width: 769px) {
    .other-nav {
        background: #45050C;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px 20px 10px 20px;
    }

    .contact {
        flex: 1 0 45%;
        padding: 25px;
    }

    .contact p {
        display: block;
    }

    .contact:nth-child(2n) {
        margin-left: 20px;
    }
}

@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */

    .other-nav a:hover,
    a.activelink {
        background: #720E07; /* Used "Secondary" on color palette.  */
        color: #EECF6D;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #EECF6D;
        padding-left: 5px;
    }

    main {
        padding: 20px 20px 10px 20px;
    }

}