/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #45050C;
  Secondary: #720E07;
  Active: #7F3814;
  Text: #D5AC4E;
  Text-active: #EECF6D;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #45050C; /* background of whole nav  */
}

.other-nav {
	background: #720E07; /* background of other-nav  */
}

nav a {
	color: #D5AC4E; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #D5AC4E;
}

a.activelink {
    background: #7F3814;
    color: #EECF6D;
    border-bottom: 3px solid #EECF6D;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

main a:-webkit-any-link {
	color: rgb(160, 127, 98);
} /* hotfix for the way that webkit was styling colored text nested in link  */

.minecraft {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(146, 150, 146);
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    color: rgb(27, 27, 26);
    margin: 20px 0 0 0;
}

.head {
    margin: 24px 10px 10px 0;
}

.minecraft > h2 {
    margin-bottom: 0;
}
.minecraft > p {
    margin: 0 auto 20px auto;
}

.minecraft > div {
    justify-content: space-between;
}

.minecraft > div > a {
    border-radius: .2em;
    display: flex;
    flex-direction: row;
}

.minecraft > div > a > div {
    display: none;
}

.minecraft > div > .bedrock > img {
    border-radius: 20px;
}

.minecraft > div > a > img {
    margin: 10px;
}

.minecraft > div {
    display: flex;
    flex-direction: row;
    text-align: left;
}


@media (min-width: 769px) {
    .other-nav {
        background: #45050C;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */
}

@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */


    .other-nav a:hover,
    a.activelink {
        background: #720E07; /* Used "Secondary" on color palette.  */
        color: #EECF6D;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #EECF6D;
        padding-left: 5px;
    }

    .minecraft {
        margin: 20px auto 0 auto;
        border-radius: .2em;
    }
    .minecraft > div > a {
        background-color: rgb(43, 42, 42);
        box-shadow: 0 1px 14px rgba(0,0,0, .40);
    }

    .bedrock {
        margin: 0 5px 10px 10px;
    }

    .java {
        margin: 0 10px 10px 5px;
    }

    .minecraft > div > a > div {
        display: block;
    }
}