/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #00296B;
  Secondary: #003F88;
  Active: #00509D;
  Text: #FDC500;
  Text-active: #FFD500;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #00296B; /* background of whole nav  */
}

.other-nav {
	background: #003F88; /* background of other-nav  */
}

nav a {
	color: #FDC500; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #FDC500;
}

a.activelink {
    background: #00509D;
    color: #FFD500;
    border-bottom: 3px solid #FFD500;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

main {
    padding: 0 20px;
}

.box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.projects {
    background: #fff;
    border-radius: .2em;
    border: solid 1px rgba(88, 183, 205, .2);
    border-bottom: solid 2px rgba(88, 183, 205, .2);
    margin: 5px 0 18px 0;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    display: flex;
    flex-direction: column;
}

.entry {
    text-align: center;
}

.links{
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.goto,
.gh {
    padding: 15px;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    font-weight: bolder;
}

.goto {
    background: #00296B;
    color: #FFD500;
    border: 3px solid #FFD500;
    
}

.gh {
    background-color: #00509D;
    color: #FFD500;
    border: 3px solid #FFD500;
}

@media (min-width: 769px) {
    .other-nav {
        background: #00296B;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    .box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 10px 0;
    }

    .projects {
        flex: 1 0 32%; 
        max-width: 32%;
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (min-width: 1025px) {
    .projects {
        min-width: 308px;
        max-width: 32%;
        flex: 1 0 23%;
        
    }
}

@media (max-width: 1254px) {
    .projects {
        min-width: 48%;
    }
}

@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */
    .other-nav {
        background: #00296B;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    .other-nav a:hover,
    a.activelink {
        background: #003F88; /* Used "Secondary" on color palette.  */
        color: #FFD500;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #FFD500;
        padding-left: 5px;
    }
}
