/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #45050C;
  Secondary: #720E07;
  Active: #7F3814;
  Text: #D5AC4E;
  Text-active: #EECF6D;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #45050C; /* background of whole nav  */
}

.other-nav {
	background: #720E07; /* background of other-nav  */
}

nav a {
	color: #D5AC4E; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #D5AC4E;
}

a.activelink {
    background: #7F3814;
    color: #EECF6D;
    border-bottom: 3px solid #EECF6D;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

.projects {
    background: #fff;
    border-radius: .2em;
    border: solid 1px rgba(88, 183, 205, .2);
    border-bottom: solid 2px rgba(88, 183, 205, .2);
    clear: both;
    padding-bottom: 38px;
    margin: 5px 4px;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
}

.entry {
    text-align: center;
}

.goto,
.gh {
    font-size: .78em;
    border-radius: .3em;
    padding: .4em 1.8em;
    color: white;
    margin: 0 15px;
}

.goto {
    background-color: #102999;
    float: left;
    margin-right: .4em;
}

.gh {
    background-color: rgba(211, 146, 27, .5);
    float: right;
    margin-left: .4em;

}


@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */
    .other-nav {
        background: #45050C;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    .other-nav a:hover,
    a.activelink {
        background: #720E07; /* Used "Secondary" on color palette.  */
        color: #EECF6D;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #EECF6D;
        padding-left: 5px;
    }

    .projects {
        display: inline-block;
        padding-bottom: 0;
    }
    
    .box {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .goto,
    .gh { 
        margin: 1em;
        display: inline-block;
    }

}