/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #22577A;
  Secondary: #2D7D90;
  Active: #33909B;
  Text: #A4F3B3;
  Text-active: #C7F9CC;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #22577A; /* background of whole nav  */
}

.other-nav {
	background: #2D7D90; /* background of other-nav  */
}

nav a {
	color: #A4F3B3; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #A4F3B3;
}

a.activelink {
    background: #33909B;
    color: #C7F9CC;
    border-bottom: 3px solid #C7F9CC;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

main a:-webkit-any-link {
	color: black;
} /* hotfix for the way that webkit was styling colored text nested in link  */

.big {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    margin: 20px auto;
}

.sprite {
    background: url(../imgs/socialspritesheet.png) no-repeat;
    min-width: 180px; /* width of container */
    height: 180px; /* height of container */
}

.nurse > .sprite {
    background-position: -410px -290px;
    border-radius: .2em 0 0 .2em;
}

.dev > .sprite {
    background-position: -810px -290px;
    border-radius: .2em 0 0 .2em;
}

.blender > .sprite {
    background-position: -610px -290px;
    border-radius: .2em 0 0 .2em;
}

.text {
    display: inline-block;
    margin: 0 10px;
} /* placed here again to over ride styling from main style.css */

.head {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
} /* placed here again to over ride styling from main style.css */

.smallsprite {
    display: inline-block;
    background: url(../imgs/socialspritesheet.png) no-repeat;
    min-width: 80px;
    height: 80px; 
}

@media (min-width: 769px) {
    .smallicon {
        width: 180px; 
        height: 180px; 
    }
    .head {
        float: left;
        margin-right: 28px;
        margin-bottom: 20px;
    }
    .other-nav {
        background: #22577A;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    main {
        padding: 0 20px;
    }

    .big {
        margin: 20px auto;
    }
}


@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */

    .other-nav a:hover,
    a.activelink {
        background: #2D7D90; /* Used "Secondary" on color palette.  */
        color: #C7F9CC;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #C7F9CC;
        padding-left: 5px;
    }

}