/* ================================= 
  Page Color Styles
==================================== */

/* ================================= 
  Palette
  Main: #212529;
  Secondary: #495057;
  Active: #6C757D;
  Text: #CED4DA;
  Text-active: #E9ECEF;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #212529; /* background of whole nav  */
}

.other-nav {
	background: #495057; /* background of other-nav  */
}

nav a {
	color: #CED4DA; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #CED4DA;
}

a.activelink {
    background: #6C757D;
    color: #E9ECEF;
    border-bottom: 3px solid #E9ECEF;
    padding-bottom: 7px;
}

/* ================================= 
  Content Style
==================================== */

.big {
    display: flex;
    flex-direction: row;
    text-align: left;
    border-radius: .2em;
    box-shadow: 0 1px 14px rgba(0,0,0, .40);
    margin: 20px auto;
}

main a:-webkit-any-link {
	color: #212529;
} /* hotfix for the way that webkit was styling colored text nested in link  */

.sprite {
    background: url(../imgs/socialspritesheet.png) no-repeat;
    min-width: 180px; /* width of container */
    height: 180px; /* height of container */
}

.tiktok > .sprite {
    background-position: -10px -90px;
    border-radius: .2em 0 0 .2em;
}

.github > .sprite {
    background-position: -210px -90px;
    border-radius: .2em 0 0 .2em;
}

.linkedin > .sprite {
    background-position: -410px -90px;
    border-radius: .2em 0 0 .2em;
}

.text {
    display: inline-block;
    margin: 0 10px;
} /* placed here again to over ride styling from main style.css */

.head {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
} /* placed here again to over ride styling from main style.css */

.smallsocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.smallsprite {
    display: inline-block;
    background: url(../imgs/socialspritesheet.png) no-repeat;
    min-width: 80px;
    height: 80px; 
}

.linktree > .smallsprite {
    background-position: -10px -490px;
}

.reddit > .smallsprite {
    background-position: -180px -490px;
}

.twitter > .smallsprite {
    background-position: -350px -490px;
}

.instagram > .smallsprite {
    background-position: -520px -490px;
}

.small > h4 {
    text-align: center;
    margin: 0;
}

@media (min-width: 769px) {
    .smallicon {
        width: 180px; 
        height: 180px; 
    }
    .head {
        float: left;
        margin-right: 28px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1025px) { 

/* ================================= 
Style changes in media queries
==================================== */
    .other-nav {
        background: #212529;
        z-index: 10;
    }  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

    .other-nav a:hover,
    a.activelink {
        background: #495057; /* Used "Secondary" on color palette.  */
        color: #E9ECEF;
    } /* changes what all links do on hover  */

    a.activelink {
        border: none;
        padding-bottom: 25px;
        border-left: 5px solid #E9ECEF;
        padding-left: 5px;
    }

}