/* ================================= 
  Base Element Styles
==================================== */

/* -------------------- General Style Changes -------------------- */

* {
	box-sizing: border-box;
}

body {
	color: #3a3a3a;
	display: flex;
	flex-direction: column;
	font-family: 'Kumbh Sans', sans-serif;
}

a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* -------------------- Navigation -------------------- */

.main-nav,
.mobile-nav,
.content {
	display: flex;
} 
/* The majority of this page is done in flexbox */

.main-nav {
	box-shadow: 0 1px 14px rgba(0,0,0, .40);
	flex-direction: column;
	font-weight: bold;
}
/* The entire navigation box */

.mobile-nav {
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 1px 14px rgba(0,0,0, .40);
	z-index: 10;
}
/* The focused navigation in mobile layouts */

.m-nav {
	padding: 10px 10px;
}

/* .m-nav:first-child {
	padding-right: 0;
} */

.m-nav:last-child {
	font-size: 38px;
} 
/* Moves and controlles the icon for expanding the other-navi section */

.logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
/* The styling for my face */

.name {
	display: block;
	font-size: 30px;
}
/* My main title */

.other-nav {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	align-content: center;
	z-index: 9;
}
/* The rest of the naviation that will remain hidden in mobile until expanded */

.nav {
	padding: 10px;
}
/* controls the links in other-nav */

.main-nav a {
	display: block;
	margin: 0 auto;
} /* controls all links in the whole navigation */

.copy {
	display: none;
}
/* The copyright; is hidden in mobile until I find a better place for it */

/* -------------------- Everything outside of navigation -------------------- */
.content {
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 20px;
}
/* controls the main content outside of the navigation */

.headline,
.tagline {
	margin: 5px;
	text-align: center;
} /* The headline for content */

.colsmall {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	text-align: center;
}

.col {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	align-items: center;
	text-align: center;
}

.aboutMeBodyImg {
	margin-top: 16px;
	height: 100px;
	width: 100px;
}

.education {
	margin-bottom: 20px;
}

/* ================================= 
  Page Color Styles
==================================== */
/* -------------------- Here is everything needed to recolor the page in a mobile first approach. Will need to see media queries
for restylings for larger screens. Will differ from page to page -------------------- */

/* ================================= 
  Palette
  Main: #1E1E24;
  Secondary: #444140;
  Active: #F7EBE8;
  Text: #E54B4B;
  Text-active: #FFA987;
==================================== */

body {
	color: #3a3a3a; /* content text color  */
}
 
.mobile-nav {
	background: #1E1E24; /* background of whole nav  */
}

.other-nav {
	background: #444140; /* background of other-nav  */
}

.main-nav a {
	color: #E54B4B; /* text color for links in whole nav  */
	text-transform: uppercase;
}

.copy {
    color: #E54B4B;
}

a.activelink {
    background: #F7EBE8;
    color: #FFA987;
    border-bottom: 3px solid #FFA987;
    padding-bottom: 7px;
}

.aboutme,
.education,
.experience,
.inspirations {
	background: #1E1E24;
	color: #E54B4B;
}

.awards,
.goals {
	background: #444140;
	color: #FFA987;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {

	.m-nav:last-child {
		display: none;
	} /* removes the drop down option to allow other-nav to be displayed on page */

	.other-nav {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		flex-direction: row;
	} /*extends other-nav to bottom of view port, and moves links around */

} /* for better display on iPads/Tablets  */

@media (min-width: 1025px) {

	body {
		flex-direction: row;
	} /* moves the nav and content from column to row  */

	.sidebar {
		display: flex;
		height: 100vh;
		position: fixed;
	} /* creates a fixed sidebar */

	.mobile-nav {
		flex-direction: column;
	} /* moves the focused nav in mobile to a bigger, column view  */

	.other-nav {
		flex-direction: column;
		align-content: flex-start;
	}

	.name {
		padding-top: 0;
	} /* cmoves name closer to photo */

	.m-nav:first-child {
		padding-right: 10px;
		margin: 0 25px;
		padding-bottom: 0px;
	} /* creates more of a focus on photo */

	.logo {
		width: 180px;
		height: 180px;
		box-shadow: 0 1px 14px rgba(0,0,0, .40);
	}

	.other-nav a {
		padding: 25px 127px 25px 10px;
	}

	a.nav {
		text-align: left;
	} /* creates more space between links and moves them to the left */

	li.copy {
		display: block;
		margin-top: auto;
		justify-items: center;
	} /* moves copyright/footer info to bottom of sidebar */

	.content {
		padding: 10px 20px;
		margin-top: 0px;
		display: block;
		width: calc(100% - 250px);
		flex: 1;
		height: 100%;
		min-height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	} /* allows for content to be a scrollable space and keeps it from falling into the sidebar */

	.col {
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
		border-radius: .2em;
		box-shadow: 0 1px 14px rgba(0,0,0, .40);
	}

	.colsmall {
		flex-direction: row;
		text-align: left;
	}

	.text {
		display: inline-block;
		margin: 0 10px;
	}

	.head {
		float: left;
		margin-right: 28px;
	}

	.education {
		margin: 0 10px 0 0;
		box-shadow: 0 1px 14px rgba(0,0,0, .40);
		border-radius: .2em;
	}

	.goals {
		margin: 0 0 0 10px;
		box-shadow: 0 1px 14px rgba(0,0,0, .40);
		border-radius: .2em;
	}

	.aboutMeBodyImg {
		margin-top: 0;
		padding: 20px;
		height: 200px;
		width: 200px;
	}

/* ================================= 
Style changes in media queries
==================================== */
	.other-nav {
		background: #1E1E24;
		z-index: 10;
	}  /* moves other-nav up to same z-index as mobile-nav and recolors it to match */

	.other-nav a:hover,
	a.activelink {
		background: #444140; /* Used "Secondary" on color palette.  */
		color: #FFA987;
		transition: 0.4s;
	} /* changes what all links do on hover  */

	a.activelink {
		border: none;
		padding-bottom: 25px;
		border-left: 5px solid #FFA987;
		padding-left: 5px;
	}
}

