* { box-sizing: border-box }

:root {
    /* Dark Mode */
    --dark-mode-background: #11141C;
    --dark-mode-background-gradient: linear-gradient(145deg, #1b1e28, #10131c);

    --dark-rounded-background: linear-gradient(145deg, #2b2f37, #05060A);
    --dark-dipped-background: linear-gradient(145deg, #05060A, #2b2f37);

    --dark-raised-shadow-only: 6px 6px 12px #05060A;

    --dark-raised-boxshadow-small: 2px 2px 5px #05060A, -2px -2px 5px #2b2f37;
    --dark-inset-boxshadow-small: inset 2px 2px 5px #05060A, 2px 3px 6px -2px #2b2f37;

    --dark-raised-boxshadow: 6px 6px 12px #05060A, -6px -6px 12px #2b2f37;
    --dark-inset-boxshadow: inset 6px 6px 12px #05060A, 2px 3px 6px -2px #2b2f37;

    /* Light Mode */
    --light-mode-background: #e7e7e7;
    --light-mode-background-gradient: linear-gradient(145deg, #e7e7e7, #ded8d8);

    --light-rounded-background: linear-gradient(145deg, #f7f7f7, #d0d0d0);
    --light-dipped-background: linear-gradient(145deg, #d0d0d0, #f7f7f7);

    --light-raised-shadow-only: 6px 6px 12px #b7c4c7;

    --light-raised-boxshadow-small: 2px 2px 5px #b7c4c7, -2px -2px 5px #f3fbfb;
    --light-inset-boxshadow-small: inset 2px 2px 5px #b7c4c7, 2px 3px 6px -2px #f3fbfb;

    --light-raised-boxshadow: 6px 6px 12px #b7c4c7, -6px -6px 12px #f3fbfb;
    --light-inset-boxshadow: inset 6px 6px 12px #b7c4c7, 2px 3px 6px -2px #f3fbfb;

    /* Palette */
    --palette-primary-color: #773344;
    --palette-secondary-color: #AD7474;
    --palette-tertiary-color: #E3B5A4;
    --palette-light-color: #ECCFC3;
    --palette-lightest-color: #F5E9E2;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
